<p id="notice"><%= notice %></p>

<h1>Itens cadastrados</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>
<hr>
  <tbody>
    <% @items.each do |item| %> 
      <tr>
        <td><%= item.user.name%></td>
        <td><%= item.description%></td>
        <td><%= item.category %></td>
        <td><%= item.status %></td> 
        <th><%= link_to 'Editar', edit_item_path(item) %></th>
        <th><%= link_to 'Deletar', item, method: :delete, data: { confirm: 'Você deseja deletar?' } %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>

<%= link_to 'Criar novo item', new_item_path %>
<%= link_to 'Home', 'http://localhost:3000' %>
